<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Editar tarea</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Editar tarea</h1>
  <form action="/edit/<%= task._id %>" method="POST">
    <label for="title">Título:</label><br>
    <input onchange="valChanged()" type="text" id="title" name="title" value="<%= task.title %>"><br>
    <label for="description">Descripción:</label><br>
    <textarea onchange="valChanged()" id="description" name="description"><%= task.description %></textarea><br>
    <label for="done">Realizada:</label>
    <input onchange="valChanged()" type="checkbox" id="done" name="done" value="true" <%= task.done ? 'checked' : '' %>><br>
    <input type="submit" value="Guardar">
  </form>
  <a href="/">Cancelar</a>

  <h3>En el shell de mongo db esta consulta se vería de la siguiente manera:</h3>
  <div id="codigo">
    <p id="consulta">db.tasks.update({ _id: <%= task._id %>}, { $set: { title: <%= task.title %>, description:<%= task.description %>, done: <%= task.done ? 'checked' : '' %> }}); 
    </p>
  </div>
</body>
<script>
  function valChanged(){
    document.getElementById('codigo').textContent = 'db.tasks.update({ _id: <%= task._id %>},  { $set: { title: ' + 
                                                      document.getElementById('title').value + 
                                                      ', description: ' + 
                                                      document.getElementById('description').value + 
                                                      ', done: ' +
                                                      document.getElementById('done').checked +
                                                      '}}); '
  }
</script>
</html>